.side-container(
    (drop)="treeConfig.rootNode().drop($event)",
    (dragend)="treeConfig.rootNode().dragend($event)", 
    (dragover)="treeConfig.rootNode().dragover($event)")

    .side-heading.area-round
        h3.nowrap.m-0(style="max-width: 220px; overflow: hidden; text-overflow: ellipsis;")
            span Portal
        .ml-auto
        .btn.btn-white.btn-sm.me-1((click)="refresh(treeConfig.rootNode());")
            i.fa-solid.fa-refresh.text-blue
        .btn.btn-white.btn-sm.me-1((click)="createFolder(treeConfig.rootNode());")
            i.fa-solid.fa-plus.text-blue
        .btn.btn-white.btn-sm.me-1((click)="upload(treeConfig.rootNode());")
            i.fa-solid.fa-upload.text-blue

    .side-body.area-round
        ng-container(*ngIf="treeConfig.rootNode && treeConfig.rootNode().newItem")
            .tree-node
                i.tree-icon.fa-solid.fa-rocket.mr-1
                .tree-node-title
                    input.form-control.form-control-sm([(ngModel)]="treeConfig.rootNode().newItem.title", placeholder="Module Name", (keyup.enter)="requestCreateFolder(treeConfig.rootNode())")
                i.icon-action-always.fa-solid.fa-xmark((click)="cancelCreate(treeConfig.rootNode()); $event.stopPropagation();")
                i.icon-action-always.fa-solid.fa-check((click)="requestCreateFolder(treeConfig.rootNode()); $event.stopPropagation();")

        wiz-core-app-widget-tree([config]="treeConfig")
            ng-template('#fileTemplate'='', let-data='')
                .tree-node-container
                    .tree-node((click)="data.select(); $event.stopPropagation();", [class.active]="data.isActive()", [class.is-root]="isRoot(data)", [draggable]="data.type == 'app'", (dragstart)="drag($event, data)") 
                        i.tree-icon.mr-1([ngClass]="icon(data)", (click)="rename($event, data)")

                        .tree-node-title
                            span(*ngIf="!data.editable")
                                span {{data.title}}
                                small.ml-1.text-muted(*ngIf="data.meta && data.meta.version") ({{data.meta.version}})
                            input.form-control.form-control-sm([(ngModel)]="data.rename", placeholder="Folder Name", (keyup.enter)="data.update();", *ngIf="data.editable", (click)="$event.stopPropagation();")
                        
                        ng-container(*ngIf="enableCreateFile(data)")
                            i.icon-action.fa-solid.fa-plus((click)="createFile(data); $event.stopPropagation();")
                        ng-container(*ngIf="enableCreateFolder(data)")
                            i.icon-action.fa-solid.fa-folder-plus((click)="createFolder(data); $event.stopPropagation();")
                        ng-container(*ngIf="enableUpload(data)")
                            i.icon-action.fa-solid.fa-arrow-up-from-bracket((click)="upload(data); $event.stopPropagation();")
                        ng-container(*ngIf="enableDownload(data)")
                            i.icon-action.fa-solid.fa-download((click)="download(data); $event.stopPropagation();")
                        ng-container(*ngIf="enableDelete(data)")
                            i.icon-action.fa-solid.fa-trash-can((click)="delete(data); $event.stopPropagation();")
                        ng-container(*ngIf="enableInstall(data)")
                            i.icon-action.fa-solid.fa-arrow-right((click)="install(data); $event.stopPropagation();")

                    ng-container(*ngIf="data.newItem && data.newItem.type == 'folder'")
                        .tree-root
                            .tree-node
                                i.tree-icon.fa-regular.fa-folder.mr-2
                                .tree-node-title
                                    input.form-control.form-control-sm([(ngModel)]="data.newItem.title", placeholder="Folder Name", (keyup.enter)="requestCreateFolder(data)")
                                i.icon-action-always.fa-solid.fa-xmark((click)="cancelCreate(data); $event.stopPropagation();")
                                i.icon-action-always.fa-solid.fa-check((click)="requestCreateFolder(data); $event.stopPropagation();")
                    
                    ng-container(*ngIf="data.newItem && data.newItem.type == 'file'")
                        .tree-root
                            .tree-node
                                i.tree-icon.fa-regular.fa-file-lines.mr-2
                                .tree-node-title
                                    input.form-control.form-control-sm([(ngModel)]="data.newItem.title", placeholder="File Name", (keyup.enter)="requestCreateFile(data)")
                                i.icon-action-always.fa-solid.fa-xmark((click)="cancelCreate(data); $event.stopPropagation();")
                                i.icon-action-always.fa-solid.fa-check((click)="requestCreateFile(data); $event.stopPropagation();")
    
    .progress(*ngIf="uploadStatus.uploading")
        .progress-bar.bg-blue(style="width: {{uploadStatus.percent}}%;")
    
wiz-core-app-widget-loading(*ngIf="loading")