mixin navbar()
    div(ng-controller="navctrl")
        - if topmenus
            header.navbar.navbar-expand-md.navbar-dark
                .container-xl
                    select.form-control.form-control-sm.text-white(ng-model="branch.id" ng-change="branch.change(branch.id)" style="width: 90px; display: inline-block;")
                        option(value="" ng-if="!branch.id") select branch
                        option(ng-repeat="b in branch.list" value="{{b}}") {{b}}
                    
                    - if IS_DEV
                        a.text-white.ml-3.mr-auto(href="?dev=false")
                            span.nav-link-title development
                    - else
                        a.text-white.ml-3.mr-auto(href="?dev=true")
                            span.nav-link-title production


                    - each menu in topmenus
                        a.text-white.ml-4(href=menu['url'])
                            span.nav-link-title= menu['title']

        header.navbar.navbar-expand-md.navbar-dark
            .container-xl
                button.navbar-toggler.text-white(type='button' data-toggle='collapse' data-target='#navbar-menu')
                    span.navbar-toggler-icon

                a.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pr-0.pr-md-3(href="/wiz")
                    h1.mb-3 WIZ Admin
                    
                .navbar-expand-md                    
                    #navbar-menu.navbar.collapse.navbar-collapse.mb-3
                        .container-xl
                            ul.navbar-nav
                                - each menu in menus
                                    - if menu.child == null
                                        li.nav-item(class=menu['class'])
                                            a.nav-link(href=menu['url'] target=menu['target'])
                                                - if menu.icon
                                                    span.mr-2(style="width: 20px; text-align: center;")
                                                        i(class=menu['icon'])
                                                span.nav-link-title= menu['title']
                                    - if menu.child
                                        li.nav-item.dropdown(class=menu['class'])
                                            a.nav-link(href=menu.child[0]['url'] target=menu.child[0]['target'])
                                                - if menu.icon
                                                    span.mr-2(style="width: 20px; text-align: center;")
                                                        i(class=menu['icon'])
                                                span.nav-link-title= menu['title']

                                            ul.dropdown-menu(class=menu['show'])
                                                - each child in menu.child
                                                    li.pl-3
                                                        a.dropdown-item(href=child['url'] target=child['target'] class=child['class'])
                                                            | {$ child['title'] $}
        
        - if submenus
            .subnav.bg-dark-lt.text-center.p-3(style="overflow-x: auto; white-space: nowrap;")
                .text-center
                    - each menu in submenus
                        a.p-2.pr-4.pl-4(href=menu['url'] target=menu['target'] class=menu['class'] style="color: #354052;")= menu['title']